@import "vars.scss";
*, ::after, ::before {
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: $main-text-color;
    background-color: $body-bg;
    font-size: 1rem;
    min-width: 320px;
}
.container{
    max-width: 1650px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.white-bg{
    background-color: $white-bg;
}
.bg-box{
    border-radius: $border-radius;
    background-color: $white-bg;
    box-shadow: $box-shadow;
}