@import "vars.scss";
*, ::after, ::before {
    box-sizing: border-box;
}
input::placeholder{
    color: $color-gray;
    opacity: 1;
    font-weight: 300;
}
*:hover,
*:focus,
*:active{
    outline: none;
}
img{
    max-width: 100%;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: $main-text-color;
    background-color: $body-bg;
    font-size: 1rem;
    min-width: 320px;
}
main{
    margin-bottom: 2rem;
}
.container{
    max-width: 1670px;
    margin: 0 auto;
    padding-left: 14px;
    padding-right: 14px;
}
.row{
    display: flex;
    flex-flow: row wrap;
    &.jc{
        &_space-between{
            justify-content: space-between;
        }
        &_center{
            justify-content: center;
        }
    }
    &.ai_center{
        align-items: center;
    }
}
.white-bg{
    background-color: $white-bg;
}
.bg-box{
    border-radius: $border-radius;
    background-color: $white-bg;
    box-shadow: $box-shadow;
}
.header_padding-bg-box{
    padding: 0.875rem 1.25rem;
    margin-top: 1.875rem;
}
.header-icon{
    margin-left: 10px;
    margin-right: 10px;
    display: inline-flex;
    &:first-child{
        margin-left: 0;
    }
    &:last-child{
        margin-right: 0;
    }
    &.mail{
        svg{
            width: 24px;
            height: 18px;
        }
    }
    &.calendar{
        svg{
            width: 22px;
            height: 22px;
        }
    }
    &.star{
        svg{
            width: 24px;
            height: 22px;
        }
    }
    &.bell{
        svg{
            width: 22px;
            height: 22px;
        }
    }
    &.search{
        svg{
            width: 22px;
            height: 20px;
        }
    }
}
.header-user-info{
    margin-left: 28px;
    text-align: right;
    .user-name{
        font-size: 0.875rem;
    }
    .user-status{
        font-size: 0.688rem;
        font-weight: 300;
    }
    .user-avatar{
        margin-left: 14px;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.page-mt{
    margin-top: 50px;
}
.title_block{
    font-size: 1.125rem;
    margin-top: 19px;
    margin-bottom: 19px;
}
.page-left-block{
    flex: 0 0 auto;
    width: 380px;
    margin-right: 28px;
}
.page-right-block{
    flex: 0 0 auto;
    width: calc(100% - 408px);
}
.catalog_filters{
    .catalog_filter{
        padding: 28px;
    }
}
.vid-btn{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 16px;
    &.grid svg{
        width: 20px;
        height: 18px;
    }
    &.list svg{
        width: 16px;
        height: 14px;
    }
}
.input-text{
    font-size: 1.375rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    border: none;
    width: 100%;
    padding: 18px 30px;
}
.catalog-searc{
    position: relative;
}
.search-btn{
    background: transparent;
    border: none;
    width: 84px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    svg{
        width: 22px;
        height: 20px;
    }
}
.catalog-list-elements{
    margin-left: -14px;
    margin-right: -14px;
    .catalog-list-el{
        margin-top: 28px;
        padding-left: 14px;
        padding-right: 14px;
        flex: 0 0 auto;
        width: 33.333333%;
    }
    &.list{
        .catalog-list-el{
            width: 100%;
        }
    }
}
.catalog-list-el{
    &-head{
        padding: 22px 22px 10px 22px;
    }
    &-img{
        position: relative;
        min-height: 290px;
        img{
            max-width: 100%;
            -o-object-fit: contain;
            object-fit: contain;
            max-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
    &-rating{
        color: #fff;
        background-color: $color-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        border-radius: 3px;
        height: 30px;
        padding: 0 10px;
        svg{
            margin-left: 9px;
        }
    }
    &-name{
        margin-top: 1rem;
        display: flex;
        color: $main-text-color;
        text-decoration: none;
    }
    &-desc{
        font-size: 0.75rem;
        font-weight: 300;
        margin-top: 4px;
    }
}
.btn{
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &-blue{
        background-color: $color-blue;
        color: #fff;
    }
    &-gray{
        background-color: $gray-bg;
        color: $main-text-color;
    }
    svg{
        margin-right: .5rem;
    }
}
.clear-filter{
    .btn{
        margin-top: 28px;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        min-height: 56px;
        font-size: 1.125rem;
    }
}
.catalog-list-el-btn{
    .btn{
        flex: 0 0 auto;
        width: 50%;
        height: 45px;
        &:first-child{
            -webkit-border-bottom-left-radius: $border-radius;
            -moz-border-radius-bottomleft: $border-radius;
            border-bottom-left-radius: $border-radius;
        }
        &:last-child{
            -webkit-border-bottom-right-radius: $border-radius;
            -moz-border-radius-bottomright: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
}
.catalog_filter_title{
    font-size: 1.125rem;
    margin-bottom: 20px;
}
.catalog_filter_items:not(:last-child){
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #D6D6D6;
}
.input-radio,
.input-checkbox,
.input-rating{
    position: relative;
    margin-bottom: 10px;
    display: flex;
    cursor: pointer;
    font-weight: 300;
    .caption{
        display: flex;
    }
    .caption::before{
        content: "";
        border: 1px solid #979797;
        display: block;
        margin-right: 10px;
    }
    input{
        position: absolute;
        opacity: 0;
        z-index: -1;
        left: 0;
        right: 0;
    }
}
.input-radio{
    .caption::before{
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
    input:checked + .caption::before{
        border-color: $color-blue;
        background-color: $color-blue;
    }
}
.input-checkbox{
    .caption::before{
        width: 17px;
        height: 17px;
        border-radius: 3px;
    }
    input:checked + .caption::before{
        border-color: $color-blue;
        background-color: $color-blue;
    }
}
.input-rating{
    .caption::before{
        content: none;
    }
    .star{
        margin-right: .5rem;
    }
}
.pagination{
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 28px !important;
    margin-bottom: 28px !important;
    .page-item{
        display: inline-flex !important;
        .page-link{
            padding: 0 !important;
            display: flex !important;
            width: 40px;
            height: 40px;
            align-items: center;
            justify-content: center;
            font-size: 1.125rem;
            background-color: $gray-bg;
        }
        &.active{
            .page-link{
                background-color: $color-blue;
                color: #fff;
            }
        }
        &.disabled{
            display: none !important;
        }
        &.first,
        &.previous{
            margin-right: 1rem;
        }
        &.next,
        &.last{
            margin-left: 1rem;
        }
        &.first,
        &.previous,
        &.next,
        &.last{
            .page-link{
                border-radius: 50%;
            }
        }
        &.previous + .page-number{
            .page-link{
                -webkit-border-top-left-radius: 50%;
                -webkit-border-bottom-left-radius: 50%;
                -moz-border-radius-topleft: 50%;
                -moz-border-radius-bottomleft: 50%;
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
            }
        }
        &:nth-last-child(3){
            .page-link{
                -webkit-border-top-right-radius: 50%;
                -webkit-border-bottom-right-radius: 50%;
                -moz-border-radius-topright: 50%;
                -moz-border-radius-bottomright: 50%;
                border-top-right-radius: 50%;
                border-bottom-right-radius: 50%;
            }
        }
    }
}

.v-select{
    border-radius: $border-radius;
    background-color: $white-bg;
    box-shadow: $box-shadow;
    border: none;
    .vs__dropdown-toggle{
        min-height: 40px;
        border: none;
        padding: 0;
        .vs__actions{
            padding: 0px 10px 0 5px;
        }
        .vs__selected-options{
            padding-left: 10px;
        }
        .vs__selected{
            padding: 0;
            border: none;
            margin: 0;
            position: relative !important;
        }
    }
    .vs__open-indicator{
        fill: #606060;
    }
}
.mobile_filter_open{
    display: none;
}
@media screen and (max-width: 1280px) {
    .catalog-list-elements .catalog-list-el{
        flex: 0 0 auto;
        width: 50%;
    }
    .page-left-block{
        width: 280px;
    }
    .page-right-block{
        width: calc(100% - 308px);
    }
}
@media screen and (max-width: 991px) {
    .page-left-block{
        width: 100%;
        margin-right: 0;
        .catalog_filters:not(.hide_filter){
            margin-bottom: 28px;
        }
    }
    .page-right-block{
        width: 100%;
    }
    .mobile_filter_open{
        display: flex;
        width: 40px;
        height: 40px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        margin-left: .5rem;
        svg{
            width: 13px;
            height: 7px;
        }
    }
    .hide_filter{
        .catalog_filter,
        .clear-filter{
            display: none;
        }
    }
}
@media screen and (max-width: 768px) {
    .header_padding-bg-box{
        margin-top: 14px;
    }
    .page-mt{
        margin-top: 14px;
    }
    .catalog-list-elements .catalog-list-el{
        flex: 0 0 auto;
        width: 100%;
    }
    .vid-btns{
        display: none;
    }
    .title_block{
        margin-top: 10px;
    }
}
@media screen and (max-width: 450px) {
    .header_left-icons,
    .header_right-icons{
        width: 100%;
    }
    .header_right-icons{
        margin-top: .5rem;
    }
    .header-user-info{
        margin-left: 1rem;
    }
    .vid-and-sort-catalog{
        margin-bottom: 28px;
        width: 100%;
        .sort{
            width: 100%;
        }
    }
}